<h1> CSS TIPS </h1>

<a href="#" class ="button no-1"> berhasil </a>
<a href="#" class ="button no-2"> berbahaya </a>
<a href="#" class ="button no-3"> hati - hati </a>
<style media="screen">

    body{
        margin     : 15% 15%;
        font-family: sans-serif;
    }

    .button{
        text-decoration: none;
        color:white;
        display: block;
        width: 200px;
        padding: 5px 10px;
        margin: 10px;
        text-align: center;
        font-size: 24px;
        border-radius: 10px;
    }

    .no-1{
        background-color: rgb(60, 189, 217, 0.7);
    }

    .no-1:hover{
        background-color: rgba(60, 189, 217,1);
    }

    .no-2{
        background-color: rgb(227, 76, 71, 0.7);
        box-shadow: 0 4px 3px 0 rgb(117, 117,124);
    }

    .no-2:hover{
        background-color:  rgb(227, 76, 71, 1);
    }

    .no-3{
        background-color: rgb(214, 217, 60, 0.7);
    }

    .no-3:hover{
        background-color: rgb(214, 217, 60, 1);
    }

</style>
